node_modules

# Output
.output
.vercel
.netlify
.wrangler
.svelte-kit
frontend/.svelte-kit
frontend/build
build
data/
dist/
/arcane
/arcane-*
.bin/

# Claude
CLAUDE.md
/.tmp/
*.key
*.pem
*.crt
.claude/**

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

#tests data
tests/test-results/*
tests/.report/*
tests/.auth/
tests/.bin/
backend/test-results/
cli/test-results/
types/test-results/
backend/.bin
backend/build-errors.log
/.idea/**
.pnpm-store/**
.pnpm-store
*.out

cli/arcane-cli
completions
*.txt
