name: SonarQube
"on":
    push:
        branches:
            - main
jobs:
    build:
        name: scan
        runs-on: depot-ubuntu-24.04-8
        defaults:
            run:
                working-directory: backend

        steps:
            - uses: actions/checkout@v6
              with:
                  fetch-depth: 0
            - name: Set up Depot CLI
              uses: depot/setup-action@v1
            - name: Setup Go
              uses: actions/setup-go@v6
              with:
                  go-version-file: backend/go.mod
                  cache: true
                  cache-dependency-path: backend/go.sum
            - name: Install GCC
              run: |
                  sudo apt-get update
                  sudo apt-get install -y gcc
            - name: Download modules
              run: go mod download
            - name: Run unit tests
              env:
                  CGO_ENABLED: "1"
              run: |
                  go test -tags=exclude_frontend ./... -race -coverprofile=coverage.out -covermode=atomic -json > test-report.out
                  mv coverage.out ../coverage.out
                  mv test-report.out ../test-report.out
            - uses: SonarSource/sonarqube-scan-action@v6
              env:
                  SONAR_TOKEN: "${{ secrets.SONAR_TOKEN }}"
                  SONAR_HOST_URL: "${{ secrets.SONAR_HOST_URL }}"
